<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion"
            href="#<%= "booking-#{booking.id}" %>"
            aria-expanded="false"
            aria-controls="<%= "booking-#{booking.id}" %>"
            class="collapsed">
              <%= "#{booking.room.name} -
                  #{booking.arrival.to_formatted_s(:short)} to #{booking.arrival.advance(hours: booking.hours).strftime('%I:%M %p')}" %>
              <span class="pull-right">
                <strong>status: </strong> <%= booking.status %>
              </span>
        </a>
      </h4>
    </div>
    <div id="<%= "booking-#{booking.id}" %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">

        <p><strong>Booked by:</strong> <%= "#{booking.user.name} #{booking.user.last_name}" %></p>
        <p><strong>Price:</strong> <%= number_to_currency(booking.price, precision: 0) %></p>

        <%= form_for [:admin, booking], html: {class: "form-inline"} do |f| %>

          <div class="form-group">
            <%= f.label :status %><br />
            <%= f.select :status, Booking.statuses.keys.to_a, {}, class: "form-control" %>
          </div>

          <div class="text-center"><br />
            <%= f.submit "Update", class: "btn btn-primary form-control" %>
          </div>

        <% end %>

      </div>
    </div>
  </div