<%= form_for [:admin, @hotel, @room], html: {multipart: true} do |f| %>
  <% if @room.errors.full_messages.any? %>
    <div class="errors">
      <h3>There's some errors on the form:</h3>
      <ul>
      <% @room.errors.full_messages.each do |error_message| %>
        <li><%= error_message %> <br /></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br />
    <%= f.text_area :description, class: "form-control", rows: "10" %>
  </div>

  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <h4>This room includes</h4>
  <div class="form-group">

  <%= f.fields_for :extra_info, OpenStruct.new(f.object.extra_info) do |e| %>

    <%= e.label :internet %>
    <%= e.check_box :internet  %>

    <%= e.label :tv %>
    <%= e.check_box :tv %>

    <%= e.label :sofa %>
    <%= e.check_box :sofa %>

    <%= e.label :breakfast %>
    <%= e.check_box :breakfast %>

    <%= e.label :air %>
    <%= e.check_box :air %>

  <% end %>

  </div>

  <p class="text-center"><%= f.submit "Submit", class: "btn btn-primary" %>  <%= link_to 'Back to rooms', admin_hotel_rooms_path, class: "btn btn-default" %></p>
<% end %>
