<%= form_for [:admin, @hotel, @room], html: {multipart: true} do |f| %>
  <% if @room.errors.full_messages.any? %>
    <div class="errors">
      <h3>There's some errors on the form:</h3>
      <ul>
      <% @room.errors.full_messages.each do |error_message| %>
        <li><%= error_message %> <br /></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br />
    <%= f.text_area :description, class: "form-control", rows: "10" %>
  </div>

  <div class="form-group">
    <%= f.label :image, "Main image" %><br>
    <%= image_tag @room.try(:image).url, { class: "img-rounded", width: "100%" } %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :img_extra1, "Extra image 1" %><br>
    <%= image_tag @room.try(:img_extra1).url, { class: "img-rounded", width: "100%" } %>
    <%= f.file_field :img_extra1, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :img_extra2, "Extra image 2" %><br>
    <%= image_tag @room.try(:img_extra2).url, { class: "img-rounded", width: "100%" } %>
    <%= f.file_field :img_extra2, class: "form-control" %>
  </div>

  <h4>This room includes</h4>
  <div class="row form-group">

    <%= f.fields_for :extra_info, OpenStruct.new(f.object.extra_info) do |e| %>

      <div class="col-md-6 text-center">

        <%= e.label :internet %>
        <%= e.check_box :internet  %> <br>


        <%= e.label :tv %>
        <%= e.check_box :tv %>  <br>

        <%= e.label :sofa %>
        <%= e.check_box :sofa %>  <br>
      </div>

      <div class="col-md-6 text-center">
        <%= e.label :breakfast %>
        <%= e.check_box :breakfast %>  <br>

        <%= e.label :air %>
        <%= e.check_box :air %>  <br>
      </div>

    <% end %>

  </div>
  <div class="row">
    <p class="text-center"><%= f.submit "Submit", class: "btn btn-primary" %>  <%= link_to 'Back to rooms', admin_hotel_rooms_path, class: "btn btn-default" %></p>
  </div>
<% end %>
