<div class="container">
  <h3>Rooms for <%=  @hotel.name %></h3>

  <% @rooms.each do |room| %>

    <div class="col-md-3 admin-room-preview">
      <div class="image">
        <%= image_tag room.image.url, width: "100%" if room.image? %>
      </div>
      <div class="description">
        <h4><%= link_to room.name, admin_hotel_room_path(@hotel, room) %>
          <span class="stars pull-right">
            <% room.rating.times do %>
              <i class="fa fa-star"></i>
            <% end %>
          </span>
        </h4>
        <p>Availables: <%=  room.room_availabilities.availables(DateTime.now).count %></p>
        <p> <%= link_to "Edit Room", edit_admin_hotel_room_path(@hotel, room) %> |
            <%= link_to 'Destroy', admin_hotel_room_path(@hotel, room), method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      </div>
    </div>

  <% end %>

  <div class="col-md-3 admin-new-room">

    <div class="description">
      <h4><%= link_to "New room", new_admin_hotel_room_path %></h4>
    </div>
  </div>


</div>

