<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <div class="row">
          <div class="col-md-12"><h3><%= @room.name %></h3></div>
        </div>
      </div>
      <div class="panel-heading">
        <%= @room.description.html_safe %>
      </div>
      <div class="panel-body">
        <h4>Current availabilities for this room:</h4>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <% @room.room_availabilities.each do |availability| %>
            <%= render partial: "availability", locals: { availability: availability} %>
            <br>
          <% end %>
        </div>
      </div>
      <div class="panel-footer text-center">
        <%= link_to 'Back', admin_hotel_rooms_path, class: "btn btn-default" %>
        <%= link_to 'Add Availability', new_admin_hotel_room_room_availability_path(@hotel, @room), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>


