<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @booking.room %>
</p>

<p>
  <strong>Arrival:</strong>
  <%= @booking.arrival %>
</p>

<p>
  <strong>Price:</strong>
  <%= @booking.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @booking.status %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @booking.hours %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
