<div class="container">


  <div class="col-md-10 col-md-offset-1">



  <h1>Current Hotels</h1>
  <% @hotels.each do |hotel| %>

    <div class="col-md-12 hotel-preview">
      <div class="col-md-5"><%= image_tag hotel.image.url, width: "100%" if hotel.image? %></div>
      <div class="col-md-7">
        <h3><%= link_to hotel.name, admin_hotel_path(hotel) %></h3>
        <p class="text-muted"><%= hotel.address %></p>
        <i>Longitude: <%= hotel.longitude %> | Latitude: <%= hotel.latitude %></i>
        <p><%= link_to 'See Rooms', admin_hotel_rooms_path(hotel) %> |
          <%= link_to 'Edit', edit_admin_hotel_path(hotel) %> |
          <%= link_to 'Destroy', admin_hotel_path(hotel), method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    </div>
  <% end %>

  <p class="text-center"><%= link_to 'New Hotel', new_admin_hotel_path, class: "btn btn-primary" %></p>
  </div>
</div>


