<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to "Get<strong>Napp</strong>".html_safe, root_path, class: "navbar-brand" %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <% if !user_signed_in? %>
                    <li><%= link_to "Sign Up", new_user_registration_path %></li>
                    <li><%= link_to "Sign In", new_user_session_path %></li>
                <% else %>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= "#{current_user.name} #{current_user.last_name}" %> <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><%= link_to "My account", edit_user_registration_path %></li>
                        <li><%= link_to "My bookings", user_bookings_path %></li>
                        <li class="divider"></li>
                        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                      </ul>
                    </li>
                <% end %>
                <!-- <li><a href="post.html">Help</a></li> -->
                <li>
                    <a href="#" class="dropdown-toggle btn btn-info" data-toggle="dropdown" role="button" aria-expanded="false">Register your hotel <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Why?</a></li>
                      <li><a href="#">How it works?</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<header class="intro-header col-xs-12" style="background-image: url('http://www.hotel-icon.com/~/media/Images/Hotel_ICON_revamp/rooms/Above%20and%20Beyond/club-38-harbour_1.ashx')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Get Napp</h1>
                    <hr class="small">
                    <span class="subheading">Because sometimes you just need a nap</span>
                </div>
            </div>
        </div>
      <div class="col-md-8 col-md-offset-2 text-center">
        <%= form_tag s_path, class: "navbar-form", method: :get do %>
          <div class="form-group">
            <%= text_field_tag :location, params[:location], class: "form-control", id: "location-input", placeholder: "Location" %>
          </div>
          <div class="form-group">
            <%= datetime_select :arrival, params[:arrival], {ampm: true}, { class: "form-control" } %>
          </div>
          <%= submit_tag "Search", name: nil, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
</header>