
<div class="col-md-6 listing-preview">
  <div class="image">
    <%= link_to room_path(room_available.room, room_available.id) do %>
      <%= image_tag room_available.room.image.url, width: "100%" if room_available.room.image? %>
    <% end %>
    <h4 class="price">$<%= room_available.price %></h4>
  </div>
  <div class="description">
    <h5><%= link_to room_available.room.name, room_path(room_available.room, room_available.id) %>
      <span class="stars pull-right">
        <% room_available.room.rating.times do %>
          <i class="fa fa-star"></i>
        <% end %>
      </span>
    </h5>
    <p class="text-muted"><%= "#{room_available.hotel.name} - #{room_available.hotel.address}" %></p>
  </div>
</div>