<!DOCTYPE html>
<html>
<head>
  <title>Getnapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fontastic.s3.amazonaws.com/zHjoYtyFZHP5XagSsh2MNa/icons.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

<% if user_signed_in? %>
  <%= render "shared/navbar_user" %>
<% else %>
  <%= render "shared/navbar" %>
<% end %>
<div class="main-wrapper">
  <%= yield %>
</div>


</body>
</html>
